body{
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Ubuntu, sans-serif;
}
.container-header{
    width: 1208px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header{
    background: #000000;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 18px 0px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg{
    position: relative;
    margin-right: 53px;
}

.hover:not(:last-child){
    padding-right: 27px;
}

.svg::after{
    content: '';
    width: 1px;
    height: 19px;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    margin-left: 25px;
    margin-top: 4px;
}

.registration{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.registraion-hover{
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}

/* HEADER HOVER */

.logo:hover{
    color: #3CB878;
    transition: 0.3s;
}

.hover:hover .svg-hover{
    fill: #3CB878;
    transition: 0.3s;
}

.registraion-hover:hover{
    color: #3CB878;
    transition: 0.3s;
}


/* SIGN UP */ 

.sign-up-form{
    width: 444px;
    margin: 0 auto;
    margin-top: 54px;
    background: #FFFFFF;
    position: relative;
}

.form-container{
    width: 324px;
    margin: 0 auto;
}

.sign-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.sign-up-form::after{
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0px;

}

.sign-up-title{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-in{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.log-in:hover{
    text-decoration: underline;
    transition: 0.3s;
    color: #01813F;
}

.form-buttons{
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    margin-top: 15px;
    position: relative;
}

.blue-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #305DB8;
    border-radius: 5px;
    text-decoration: none;
    padding: 12px 22px 12px 16px;
}
.blue-button:hover {
    background: #022263;
    transition: 0.3s;
}

.orange-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DF4A32;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 27px 14px 12px;
}

.orange-button:hover{
    background: #AB1F09;
    transition: 0.3s;
}

.blue-button-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;  
    padding-left: 38px;
}

.orange-button-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;  
    padding-left: 38px;
}

.blue-button-text::before{
    content: '';
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 48px;
}

.orange-button-text::before{
    content: '';
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 214px;   
}


.or{
    font-size: 14px;
    line-height: 14px;
    color: #848484;    
    text-align: center;
    padding-top: 30px;
}

.or:before, .or:after {
    position: absolute;
    top: 153px;
    left: 60px;
    content: '';
    padding: 1px 76px 0;
    background: #000;
}
.or:after {
    left: 232px;
    right: 60px;
}

/* INPUT */

.input{
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 14px 0px 16px 20px;
    margin-top: 15px;
    width: 304px;
}

.input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

input::placeholder {
    color: #BEBEBE;
}

.checkbox {
    margin-top: 12px;
}

.agree-text {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.agree-text-green {
    color: #3CB878;
}

.agree-text-green:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.checkbox-agreement {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.checkbox-agreement input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
}

.checkmark:after {
    content: url("../img/svg/check.svg");
    position: absolute;
    display: none;
}

.checkbox-agreement input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-agreement .checkmark:after {
    top: 2px;
    left: 2px;
}

.btn-create-account {
    width: 324px;
    margin: 20px 0 38px;
    background: rgba(60, 184, 120, 0.8);
    padding: 16px 99px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
}

.btn-create-account:hover {
    background: #01813F;
    transition: 0.3s;
}
